[2019-03-11 08:15] bmansheim opened #261 "Command segments need formatting"
**Expected behavior** (A concise description of what you found)
There are command segments in the text on https://docs.redislabs.com/latest/rs/administering/security/client-connections/ that aren't formatted as code.

**Expected behavior** (A concise description of what you expected to find)
All command and code segments should be in `backticks`.

**Screenshots** (If applicable, add screenshots of

[2019-03-22 00:20] carolynsims opened #300 "bad link in Getting Started with Kubernetes and OpenShift"
**Expected behavior** (A concise description of what you found)
On https://docs.redislabs.com/latest/rs/getting-started/k8s-openshift/#step-5-create-a-database Getting Started with Kubernetes and OpenShift, the "3. The OpenShift cli installed"
link goes to https://www.rubix.nl/blogs/how-install-and-run-openshift-origin-your-mac-os-x
This is a dead link on a site in the Netherlands...

**Expected b

[2019-04-29 07:39] bmansheim opened #335 "Fix version dropdown"
**Current behavior** (A concise description of what you found)
We noticed that we can’t toggle between the various Redis versions on our site –
The dropdown arrow seems to be disabled.

**Expected behavior** (A concise description of what you expected to find)

The dropdown opens and shows the other versions of docs that are available.

**Screenshots** (If applicable, add screenshots of the proble

[2019-04-30 09:53] AlonMagrafta opened #339 "Missing picture @ ReBloom page"
**Current behavior**
Missing picture on
https://docs.redislabs.com/latest/rs/developing/modules/bloom-filters/

**Expected behavior** (rebloom-hash1 picture)

**Screenshots** (If applicable, add screenshots of the problem)
![image](https://user-images.githubusercontent.com/50071256/56954037-7cf7ad00-6b46-11e9-9dcd-2c254ca2533a.png)

[2019-04-30 11:32] bmansheim commented on #339
https://github.com/RedisLabs/redislabs-docs/pull/341

[2019-04-30 11:32] #339 closed

[2019-04-30 15:41] AlonMagrafta opened #342 "Low pic. quality @ Consistency and Durability"
**Current behavior**
Upon clicking the two pictures - the bigger version of them opens blurry and not so clear.
Link:
https://docs.redislabs.com/latest/rs/concepts/data-access/consistency-durability/

**Expected behavior**
Nice big clear pictures :)

**Screenshots** (If applicable, add screenshots of the problem)
![image](https://user-images.githubusercontent.com/50071256/56974480-9cf39480-6b77-11

[2019-05-02 12:00] #335 closed

[2019-05-08 09:59] bmansheim opened #365 "Open TOC sections change link to Collapse all"
**Current behavior** (A concise description of what you found)
When you open a section of the TOC, the Expand all link doesn't change so that you have to Expand all before you can Collapse all.

**Expected behavior** (A concise description of what you expected to find)
When you open a section of the TOC, the Expand all link change to Collapse all.

**Screenshots** (If applicable, add screenshots o

[2019-05-08 11:16] bmansheim commented on #365
@HarunD Also check the behavior when you go to a specific page: https://docs.redislabs.com/latest/rs/getting-started/k8s-openshift/
The TOC sections don't open and close for me.

[2019-05-13 07:19] #365 closed

[2019-05-13 17:44] bmansheim opened #369 "Update module names to RedisJSON and RedisBloom"
**Current behavior** (A concise description of what you found)
in https://docs.redislabs.com/latest/index.html the modules links still show old module names “ReJson” instead of RedisJSON and “ReBloom” instead of RedisBloom. Please fix.

**Expected behavior** (A concise description of what you expected to find)
All pages use the updated names, RedisJSON and RedisBloom.

**Screenshots** (If applicab

[2019-05-13 17:45] bmansheim commented on #369
@K-Jo FYI

[2019-05-14 07:51] K-Jo commented on #369
To be complete it should also be RedisGraph RediSearch RedisTimeSeries RedisAI and RedisGears
I would however wait till we have fixed RED-27583 @Paz-Yanover

[2019-05-14 08:14] Paz-Yanover commented on #369
@bmansheim - let's wait

[2019-05-21 10:01] bmansheim opened #382 "Improve display of search results in landing page"
1. The search dropdown should be the same size as the search box.
2. The search dropdown should show about 5 search results with the rest in the scroll. No need to have it drop past the bottom of the page.
3. Also, we might need to tweak the sizes of the icons so that they are all the same size as the Cloud Pro icon. How much work would that be?

https://user-images.githubusercontent.com/19514688/

[2019-05-27 07:32] bmansheim commented on #300
Good catch, @carolynsims! I'll put it into the queue.

[2019-05-27 09:58] HarunD commented on #382
@bmansheim I fixed items 2. and 3.  I still need to reproduce the dropdown width issue on Windows so I can fix item 1.

[2019-06-06 08:11] bmansheim commented on #369
Preparing changes in https://github.com/RedisLabs/redislabs-docs/pull/409

[2019-06-10 10:57] #382 closed

[2019-06-10 11:22] bmansheim commented on #300
Hey, @amiramm . The link to rubix works for me but do we want to change it to the openshift CLI Getting Started as @carolynsims recommended?

[2019-06-10 18:41] amiramm commented on #300
Make sense to point to OpenShift documentation. **Note** this is the correct link: https://docs.openshift.com/container-platform/4.1/cli_reference/getting-started-cli.html

[2019-06-11 07:31] bmansheim commented on #300
Resolved in: https://github.com/RedisLabs/redislabs-docs/pull/413

[2019-06-11 07:34] bmansheim commented on #300
@amiramm Do you want it to link specifically to the 4.1 version of the article or to whatever is the latest?

[2019-06-11 07:37] #300 closed

[2019-06-11 18:13] amiramm opened #415 "Rewrite K8s getting started doc (docker/GCP)"
**Current behavior** (A concise description of what you found)
 https://github.com/RedisLabs/redislabs-docs/blob/master/content/platforms/kubernetes/_index.md
Is misleading, needs to be removed.
This doesn't use RedisLabs Operator deployment and erroneously indicates it is not production worthy.

**Expected behavior** (A concise description of what you expected to find)
There need to be two separa

[2019-06-11 22:48] amiramm opened #416 "Kubernetes FAQ section needs to be moved from RS to Platforms"
**Current behavior** (A concise description of what you found)
FAQ for Kubernetes is under general FAQ in RS section of the documentation

**Expected behavior** (A concise description of what you expected to find)
FAQ for Kubernetes should be under the Platform section

**Screenshots** (If applicable, add screenshots of the problem)
![Screen Shot 2019-06-11 at 3 45 07 PM](https://user-images.githu

[2019-06-12 13:10] bmansheim commented on #416
Resolved in https://github.com/RedisLabs/redislabs-docs/pull/417

[2019-06-12 13:10] #416 closed

[2019-06-12 13:15] bmansheim commented on #415
In https://github.com/RedisLabs/redislabs-docs/pull/417, the K8s getting started content is in comment.

After the content is rewritten and published, this issue can be closed.

[2019-06-24 06:48] bmansheim opened #427 "Fix code element scroll on Mac"
**Current behavior** (A concise description of what you found)
there is a UI usability issues with text boxes (for example look at 5.4.4 release notes). When trying to scroll sideways the “control” blocks visibility of the text box.

**Expected behavior** (A concise description of what you expected to find)
Like Windows

**Screenshots** (If applicable, add screenshots of the problem)
_Mac_
![image

[2019-06-24 06:54] bmansheim opened #428 "Add more clues for customers to find UI elements in RC Pro"
**Current behavior** (A concise description of what you found)
I want to report additional usability improvement that I think it needed in our Cloud Pro section https://docs.redislabs.com/latest/rv/administration/setup_and_editing/view-edit-subscription/ - for example finding the + sign in VPC Peering screen is not trivial and showing it on a screenshot creates a much better reference to customers

[2019-06-26 18:04] IAmATeaPot418 opened #434 "Update TLS Settings to include Ciphers"
**Current behavior** (A concise description of what you found)
Documentation does not currently include cipher configuration

**Expected behavior** (A concise description of what you expected to find)
Documentation should include cipher documentation

**Screenshots** (If applicable, add screenshots of the problem)
N/A

**Additional context** (Add any other information)
N/A  - will submit pull requ

[2019-07-09 22:09] IAmATeaPot418 opened #450 "Update how to configure custom local logging policy."
**Current behavior** (A concise description of what you found)
We do not currently document how to customize the logging configuration if required.

**Expected behavior** (A concise description of what you expected to find)
Some organizations may have custom logging policies that require retention policies longer or shorter than out of the box provides.

**Screenshots** (If applicable, add screens

[2019-07-17 22:07] IAmATeaPot418 opened #458 "Incorrect LDAP API calls"
**Current behavior** (A concise description of what you found)
LDAP information and configuration is outdated in the documentation.

**Expected behavior** (A concise description of what you expected to find)
Correct URL location

**Screenshots** (If applicable, add screenshots of the problem)

**Additional context** (Add any other information)

[2019-07-18 06:19] bmansheim opened #461 "Add clean line between code and note"
**Current behavior** (A concise description of what you found)
When a code line is next to a note, there is no white space between the code grey box and the note grey box

**Expected behavior** (A concise description of what you expected to find)
There needs to be a separation between the code box and the note box to indicate that they are not connected.

**Screenshots** (If applicable, add screen

[2019-07-18 07:59] bmansheim opened #463 "Change upgrade note for each minor version"
**Current behavior** (A concise description of what you found)
The first warning in the upgrade page says to check the release notes of the initial version release.
https://docs.redislabs.com/latest/rs/installing-upgrading/upgrading/

**Expected behavior** (A concise description of what you expected to find)
Must be updated to refer to the last minor version of the release.

**Screenshots** (If ap

[2019-07-21 12:43] amiramm opened #467 "Indentation on REC spec is wrong in PKS getting started article"
**Current behavior** (A concise description of what you found)

https://github.com/RedisLabs/redislabs-docs/tree/pks-getting-started/content/platforms/pks
_index

REC spec in redis_enterprise_cluster.yaml code snippet is indented wrong and needs to be amended.

**Expected behavior** (A concise description of what you expected to find)

**Screenshots** (If applicable, add screenshots of the problem

[2019-07-22 10:20] bmansheim commented on #467
This change is still in a PR and not published so I'll follow it without the issue.

[2019-07-22 10:20] #467 closed

[2019-08-07 07:58] bmansheim opened #473 "Docs are not listed in website search"
**Current behavior** (A concise description of what you found)
When you search in the redislabs.com website, you don't see the results from the docs. This frustrates users. Although less than 1% of our pageviews on the marketing site use the site search, most of those searches are for technical keywords and cause bad UX.

**Expected behavior** (A concise description of what you expected to find)
S

[2019-08-07 11:30] bmansheim commented on #473
Task for marketing team

[2019-08-07 11:33] bmansheim opened #474 "Automatically add staging link to PRs"
**Current behavior** (A concise description of what you found)
PRs opened on the repo spin up a staging site but there is no link to the staging site provided.

**Expected behavior** (A concise description of what you expected to find)
PRs opened on the repo have the link to the staging site automatically add to the PR.

**Screenshots** (If applicable, add screenshots of the problem)

**Additional

[2019-08-13 07:56] #461 closed

[2019-08-16 18:58] IAmATeaPot418 commented on #434
Resolved by #483

[2019-08-16 18:59] #434 closed

[2019-08-19 06:33] #458 closed

[2019-08-26 08:04] #427 closed

[2019-09-20 03:43] mikhailredis opened #518 "Update "Importing Data Into Your Database" for RC Pro"
**Current behavior** (A short description of what you found)
It's missing import options from Object storages (S3, GCP, Azure).

**Expected behavior** (A short description of what you expected to find)
Should be similar to RS or Essentials

**Screenshots** (Paste or drag-and-drop a screenshot)

**Additional context** (Add any other information)

[2019-10-08 01:45] IAmATeaPot418 opened #529 "Document RCP TLS setup"
RCP TLS setup is not documented. We should work to add this to the security concepts and documentation.

[2019-10-10 11:42] bmansheim commented on #369
Merged in #409

[2019-10-10 11:42] #369 closed

[2019-10-21 03:36] IAmATeaPot418 opened #542 "RedisInsight Security"
Document a list of security-relevant considerations to simply guide our customers and help teams with security considerations.

[2019-11-12 16:41] Enrique922 commented on #529
2019-11-12T16:41:11Z-ee048032@server

[2019-12-05 12:58] bmansheim opened #596 "Import modules capabilities according to version"
**Current behavior** (A short description of what you found)
Each module per version has a different list of supported RS features and they are listed in the ramp.yml file in the module repository. Those capabilities are not listed in the documentation.

**Expected behavior** (A short description of what you expected to find)
Each module should have its documentation versioned and include the of s

[2019-12-11 01:25] TobyHFerguson opened #605 "Storage *can* be configured, but how? Need link!"
**Current behavior** (A short description of what you found)
On [Persistent and Ephemeral Storage](https://docs.redislabs.com/latest/rs/administering/designing-production/persistent-ephemeral-storage/) it says

but there're no links to explain exactly how to accomplish that task

**Expected behavior** (A short description of what you expected to find)
One or more links that show exactly how this s

[2019-12-11 01:27] TobyHFerguson opened #606 "REST API is hidden. Should be exposed in table of contents"
**Current behavior** (A short description of what you found)
REST API is documented in a note on the [Administering Redis Enterprise](https://docs.redislabs.com/latest/rs/administering/) page. It can't be found by looking at the table of contents (ToC), but is nevertheless (in my opinion!) sufficiently important that it should be present in the ToC

**Expected behavior** (A short description of wh

[2019-12-11 07:40] bmansheim opened #607 "FAQ expand and collapse"
**Current behavior** (A short description of what you found)
The Find in Page only shows results in text that is not hidden and all of our FAQs are in hidden expand boxes.

**Expected behavior** (A short description of what you expected to find)
We need a link at the top of the page, like the Expand/Collapse in the TOC, so that it is easy to expand the content and search it.

**Screenshots** (Past

[2019-12-11 07:47] bmansheim opened #608 "Add direct link anchor to FAQs"
**Current behavior** (A short description of what you found)
Each FAQ is a paragraph of expanded text about a specific feature but they are not anchors in the HTML so you can't link to a specific FAQ item.

**Expected behavior** (A short description of what you expected to find)
Each FAQ item should have a link to it just like the headings.

**Screenshots** (Paste or drag-and-drop a screenshot)
![

[2020-01-15 08:50] gogotanc opened #639 "RedisInsight can not start normally"
**Current behavior** (A short description of what you found)

My mac crashed unexpectedly, RedisInsight was running background then.

When I reboot my mac, RedisInsight can not start normally.

**Expected behavior** (A short description of what you expected to find)

I reinstall RedisInsight, but do not work.

how to fix it? where is the log?

**Screenshots** (Paste or drag-and-drop a screenshot)

[2020-01-16 08:53] K-Jo commented on #639
@nishantgeorge

[2020-01-16 11:17] nishantgeorge commented on #639
@gogotanc

https://docs.redislabs.com/latest/ri/using-redisinsight/troubleshooting/#logs

Could you check using the Activity Monitor whether there are any RedisInsight processes running and if so, kill all of them and try running RedisInsight again?

[2020-01-16 11:27] gogotanc commented on #639
@nishantgeorge

it works, thx. 👍

i find a RedisInsight process in the Activity Monitor, i killed it, and run again.

[2020-01-16 11:27] #639 closed

[2020-02-10 19:29] araza142 opened #676 "Kubernetes service env vars conflicting with pods"
**Current behavior** (A short description of what you found)
K8s deployment without exposing service works fine. But when adding a service to expose, it causes conflicts with pod env vars and pod fails to start. Tried skipping the service vars using `enableServiceLinks: false` which started the pod but its giving EMPTY RESPONSE on URL.

**Error** (Paste or drag-and-drop a screenshot)
`Starting sys

[2020-02-10 20:56] IAmATeaPot418 opened #677 "Document MFA in RC"
We haven't documented MFA capabilities in RC. RC currently supports MFA capabilities but this is undocumented functionality. This is minor and I'll probably submit a PR for this next week. Documenting the issue for now.

[2020-02-11 07:18] bmansheim commented on #677
FYI @Aviad-Abutbul . I'll open a docs ticket.

[2020-02-11 10:41] ibrainventures opened #679 "[securityalert / malware / redisinsight - win!] Malware Trojan inside Redisinsight"
May its wrong inside this git-section - but cant find a other way for security alerts.

Downloaded 2 days ago the redisinsight win edition over the redislabs website.

Today all malware finders are going high and give a high secruity alert.

![grafik](https://user-images.githubusercontent.com/8803626/74229813-6a102c80-4cc3-11ea-9bb4-5e359045af1c.png)

Also on some stackoverflow disussions.

https:

[2020-02-11 12:05] ibrainventures commented on #679
some updates on a reddit thread

https://www.reddit.com/r/redis/comments/f1qapz/redisinsight_cotains_malware/

https://www.virustotal.com/gui/file/d8935449f89bb8a859542bc72e553e3d4c2d1107615f6796b693c1351e0c2331/details

[2020-02-11 17:34] banker commented on #679
@ibrainventures Thanks for reporting this. We'll get back to you (cc @K-Jo)

[2020-02-11 17:42] K-Jo commented on #679
Hi @ibrainventures, thanks for reporting, we are on top of this issue.  It is related to pyinstaller https://github.com/pyinstaller/pyinstaller/issues/4633.  We plan to release a fix very soon and you will get an upgrade notification within RedisInsight

[2020-02-11 22:53] gnaneshr commented on #679
@ibrainventures
A new version of RedisInsight (v1.2.2) just got released and had this fixed.

[2020-02-14 03:10] araza142 commented on #676
Declaring env vars fixed it:
`env:
          - name: REDISINSIGHT_HOST
            value: "0.0.0.0"
          - name: REDISINSIGHT_PORT
            value: "80"`

[2020-02-14 03:10] #676 closed

[2020-02-17 07:46] bmansheim commented on #676
@araza142 I'm glad you found an easy solution!

[2020-02-18 13:41] bmansheim commented on #679
@ibrainventures It seems that the issue was resolved with a new release so I'm closing this issue as invalid because there is no documentation change required.
Thanks for reporting!

[2020-02-18 13:41] #679 closed

[2020-02-24 17:48] EsCool opened #691 "redisinsight change the IP and port"
I have a problem when I use redisinght:
**OS: Linux (not desktop)
Version:1.2.2**
my redis server in running in local area network.
Due to poor performance of my PC, I deploy the redisinsght in a linux server which IP address is 10.20.20.15.  But when I start redisinsight, it running on 127.0.0.1 and 8001. how can I change the IP to my PC can access IP like 10.20.20.15.
then I can use my PC to bro

[2020-02-25 09:23] bmansheim commented on #691
@EsCool Thanks for contacting us. @K-Jo and @nishantgeorge, can you help with this?

[2020-03-12 03:19] guitarrapc commented on #676
it help me so match. thank you for great workaround.

[2020-03-16 16:32] laurentdroin commented on #676
@araza142 @guitarrapc - could you let us know how you deployed RedisInsight on Kubernetes? Did you follow the procedure described at https://docs.redislabs.com/latest/ri/installing/install-k8s/ ?
or did you follow a different procedure? And in this case, can you share it with us?
Also, was your K8S environment an Openshift environment ?

[2020-03-17 09:12] guitarrapc commented on #676
@laurentdroin ok.

yes, but official instruction missing consideration for svc, so you must put additional `env` as @araza142 shared in https://github.com/RedisLabs/redislabs-docs/issues/676#issuecomment-586077122

no. you don't need.

here's k8s deployment with service sample for you. https://github.com/guitarrapc/k8s-lab/blob/master/redis/k8s/deployment.yaml

k8s with service.

[2020-03-17 13:41] laurentdroin commented on #676
Hi @guitarrapc - Thank you for the update. It is very useful and I now understand the issue better.
There is indeed a conflict between the environment variables we use and the ones created by Kubernetes when a service is created. The names of the variables are derived from the name of the service.
We are going to look into this and see how it can be addressed properly.

In the meantime, other work

[2020-03-24 14:10] sudipt1999 opened #711 "Has the doc been added for the features discussed at RedisConf19"
I am working on a project that uses RedisGraph and for improving the query mechanism and storage and I came across https://www.youtube.com/watch?v=PTL7aRPFKt8 (RedisConf19) which showed few new features :-
1. Graph API
2. Graph Aided Search
3. Full Graph Search
so I looked for the docs but haven't found any! Kindly let me know where they are.

[2020-03-24 14:31] bmansheim commented on #711
Thanks for checking with us @sudipt1999 . Maybe @K-Jo can help answer your question.

[2020-03-30 12:44] IAmATeaPot418 commented on #677
Resolved and Closed by https://github.com/RedisLabs/redislabs-docs/pull/702

[2020-03-30 12:44] #677 closed

[2020-04-01 07:27] bmansheim commented on #607
Resolved in https://github.com/RedisLabs/redislabs-docs/pull/703

[2020-04-01 07:27] #607 closed

[2020-04-01 07:48] slemeur commented on #691
Hi @EsCool !
Thanks for reaching out with your question.

You can completely configure those settings by changing the environment variables.
We have documentation about that available here: https://docs.redislabs.com/latest/ri/installing/configurations/

Hope this helps.

[2020-04-01 10:14] K-Jo commented on #711
@sudipt1999 this is actually a question for https://github.com/RedisGraph/RedisGraph/
1. we are still working on this
2. yes it has been released in redisgraph 2.0 and we'll publish a blog about this soon
3. If this relates to the full graph response.  Yes this is in place as well.  You can try it out on >2.0 versions and with RedisInsight https://redislabs.com/redisinsight/

[2020-04-01 10:15] #711 closed

[2020-04-10 07:02] goranceko opened #733 "RS - Installing Redis Enterprise Software"
**Current behavior** (A short description of what you found)
Clicking the Kubernetes link https://docs.redislabs.com/latest/platforms/kubernetes/.md leads to a 404 page: https://docs.redislabs.com/latest/rs/installing-upgrading/

**Expected behavior** (A short description of what you expected to find)
Being able to navigate to the Kubernetes page.

**Screenshots** (Paste or drag-and-drop a screens

[2020-04-10 17:21] banker commented on #733
Thanks for the report! We'll get this fixed.

[2020-04-12 13:55] abdomazzika opened #734 "Redisinsights not compatible with Google Cloud memorystore redis instances"
When i added my memorystroe instance to redisinsights it gives me this error message
[code]
![Screen Shot 2020-04-12 at 4 54 24 PM](https://user-images.githubusercontent.com/16388665/79070423-6fe3b780-7cde-11ea-96b5-6daa635660e7.png)

[2020-04-13 14:00] mrm-robotack opened #737 "RedisInsight installation on windows is still being detected as malware"
the RedisInsight even on version 1.3 is still being detected as including a malware on windows. The detection has been done by both bitdefender antivirus and the anti malware service on windows.

[2020-04-13 15:25] banker commented on #737
Thanks for the report. @K-Jo Can you respond?

[2020-04-13 15:56] slemeur commented on #737
@mrm-robotack : Thanks for reporting the issue.
Would you be able to attach a screenshot of the message that is attached?
Also what is the version you installed?

According to VirusTotal, the msi file for 1.3.1 is not supposed to show any warning from bitdefender: https://www.virustotal.com/gui/file/b7dae2835df32fd38d6cb3b403e784a166ad9e31d03a4c9f624f1a2a2d4812d9/detection

[2020-04-14 21:20] mrm-robotack commented on #737
Hi .. It's version 1.3.0 .. it's the default that was available from the website on 12/4/2020. I'll check if a newer version is available and update if it is solved.

[2020-04-14 21:46] mrm-robotack commented on #737
Well yeah I just installed version 1.3.1 and it's running normally. Thanks a lot.

[2020-04-15 07:30] slemeur commented on #737
Really glad to her @mrm-robotack !
Thanks again for reaching out and reporting the issue.
Appart from this issue, how have been your experience with RedisInsight so far ?

[2020-04-16 10:24] bmansheim commented on #733
Great catch, @goranceko. It's fixed now.

[2020-04-16 10:24] #733 closed

[2020-04-16 11:30] Rubyan commented on #676
This also solved my issue when deploying on Openshift (OKD)

[2020-04-28 00:11] tgrall opened #770 "RediSearch Module: broken image link to redisearch_partitions.png"
**Current behavior**

An image is missing in page:
https://docs.redislabs.com/latest/modules/redisearch/

See line 146 : `![redisearch_partitions](/images/rs/redisearch_partitions.png?width=700&height=119)`

**Expected behavior**

Upload the image or remove the image from the page

[2020-04-28 07:00] bmansheim commented on #770
So glad you pointed this out, @tgrall . Will put it into our tasks.

In general, how has your experience been with the docs?

[2020-05-04 11:16] tayler-king opened #790 "RedisInsight v1.4.0 fails to start - "Requires an IP to get the server name""
Apologies if I have opened this in the incorrect place, it seems like there are a couple of other RedisInsight issues opened here.

Anyhow, RedisInsight decided it wanted to stop starting for seemingly no reason at all. Here's the full logs:

[code]

I've tried manually binding the port + host with the appropriate environment variables yet it doesn't seem to help.

[2020-05-12 02:26] ClaytonOlleyITN commented on #734
Any updates on this by chance? I'm running into similar issues.

[2020-05-12 06:52] #737 closed

[2020-05-12 06:55] #691 closed

[2020-05-18 21:07] andresrinivasan opened #824 "What is an Operator section describes StatefulSets as good for stateless applications"
**Current behavior** (A short description of what you found)

In [What is an Operator?](https://docs.redislabs.com/latest/platforms/kubernetes/kubernetes-with-operator/#what-is-an-operator) StatefulSets are described as good for stateless applications. In contrast the [StatefulSets documentation](https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/) says

**Expected behavior** (A

[2020-05-19 06:13] likemoongg opened #825 "how can i connect to Standalone Redis with ssh tunnel by redis insight"
I watch the [doc](https://docs.redislabs.com/latest/ri/using-redisinsight/add-instance/) and cann't found the way to conenct to standalone redis within ssh tunnel，did RedisInsight has the feature and will add the feature in the future ?

[2020-05-19 07:27] bmansheim commented on #824
Thanks for your comment @andresrinivasan.
@alexmilowski, can you comment on this?

[2020-05-19 07:54] bmansheim commented on #825
Hi @likemoongg . Thanks for reaching out. I'll check on your issue and see what I find.

[2020-05-19 18:45] tgrall opened #828 "Shutting Down a node: make it clear at the beginning that only one node at the time should be stopped"
**Current behavior** (A short description of what you found)

In the page: https://docs.redislabs.com/latest/rs/administering/cluster-operations/shutting-down-node/

Some customers miss the last sentence and misunderstand it:

| Note: You should only shut down one node at a time.

**Expected behavior** (A short description of what you expected to find)

* we should put this information at the begi

[2020-05-20 07:36] bmansheim commented on #828
Hi @tgrall . Thanks for the issue. Can you review https://github.com/RedisLabs/redislabs-docs/pull/829 and tell me what you think?

[2020-05-20 11:57] Steuf opened #833 "Adding redis sentinel not work on RedisInsight"
**Current behavior**
Unable to add a redis sentinel database after select the master node

**Expected behavior**
Adding sentinel to database

**Screenshots**
<img width="763" alt="Capture d’écran 2020-05-20 à 12 57 39" src="https://user-images.githubusercontent.com/262871/82438570-8f1df380-9a99-11ea-8e6f-e61f44476bad.png">

**Additional context**

It's on a Kubernetes cluster with stable/redis-h

[2020-05-20 12:21] bmansheim commented on #833
Thanks for reaching out to us, @Steuf .
@slemeur Can you comment on this issue?

[2020-05-20 12:23] slemeur commented on #833
We need to investigate this issue.
cc @nishantgeorge @Arushi201296

[2020-05-20 14:07] Arushi201296 commented on #833
@Steuf May I know what appears in the logs/network console preview when you try to add such a database?

[2020-05-21 15:12] Steuf commented on #833
Yes off course, the first query on adding the sentinel server before choose the master :

<img width="1144" alt="Capture d’écran 2020-05-21 à 17 10 13" src="https://user-images.githubusercontent.com/262871/82573470-19438600-9b86-11ea-8c78-9355f7c73198.png">

And params and server response when I choose the master server:

<img width="671" alt="Capture d’écran 2020-05-21 à 17 10 33" src="https:

[2020-05-21 15:43] Steuf commented on #833
And the internal error on logs :

[code]

[2020-05-22 04:53] victormongi opened #840 "How to query: Show all records/documents"
How to query: Show all records/documents thank you...

[2020-05-25 08:12] bmansheim commented on #840
Hi @victormongi . Glad you asked. You can find the interactive tutorial for Redis at http://try.redis.io/ that includes all of the basic Redis commands such as get.

[2020-05-25 08:12] #840 closed

[2020-05-26 12:46] ruslan-redislabs opened #843 "RCU on GCP-Marketplace doesn't have "Settings"->"Team" tab"
**Current behavior** (A short description of what you found)
Would worth mentioning that GCP-marketplace doesn't have Settings->Team tab and instead managed outside of SM, in GCP with some how-to or link, if there is.

**Expected behavior** (A short description of what you expected to find)
https://docs.redislabs.com/latest/rc/administration/account-team-settings/#team-management would have a note

[2020-05-26 22:52] IAmATeaPot418 opened #844 "Alerting not documented for Redis Cloud"
The alerting capabilities within Redis Enterprise Cloud are not currently documented. We should document this along with any recommendations we may have for our customers.

[2020-05-26 23:12] #844 closed

[2020-05-27 08:23] bmansheim commented on #828
Resolved in #829

[2020-05-27 08:23] #828 closed

[2020-05-27 08:27] bmansheim commented on #843
Resolved in https://github.com/RedisLabs/redislabs-docs/pull/845

[2020-05-27 08:27] #843 closed

[2020-06-02 17:31] eexwhyzee opened #855 "Using RedisInsight behind a reverse proxy"
**Current behavior** (A short description of what you found)
Followed these instructions to deploy RedisInsight on k8s: https://docs.redislabs.com/latest/ri/installing/install-k8s/

RedisInsight works correctly when not using a path rewrite via reverse proxy, but when trying to do a path rewrite with a specific prefix, the UI won't load correctly because it is expecting a js bundle at `/` instead

[2020-06-03 06:33] bmansheim commented on #855
Hi @eexwhyzee . Glad you pointed that out!
@slemeur What are your thoughts?

[2020-06-04 10:05] Raghavendarlokineni commented on #833
Hi, I am also facing the same issue while adding sentinel database.

Info:
Redis - 5.0.8
redisinsight-linux64-1.5.0
OS - Red Hat Enterprise Linux Server 7.8 (Maipo)

[2020-06-09 01:17] Dmitry1987 opened #862 "Slow docs site performance"
**Current behavior** (A short description of what you found)
Each page is pretty slow to react (slow to load when browsing links in menu from one to another)
And Chrome also freezes for about 1-2 seconds (like, literally seconds, not ms) when page first renders, it can't scroll.

**Expected behavior** (A short description of what you expected to find)
Docs are so simple, could work really fast and

[2020-06-09 02:06] Dmitry1987 opened #863 "Azure backup syntax"
**Current behavior** (A short description of what you found)
Wrong example of connection string for azure storage

**Additional context** (Add any other information)

The page has wrong number of parts in URL of the azure bucket

[code]

but there is no "url" so it got me confused :)  a minor bug.

[2020-06-09 02:25] Dmitry1987 commented on #863
One more question, are you sure the permission "Read bucket permissions" **and "write bucket permissions"** is required?

[2020-06-09 02:26] Dmitry1987 commented on #863
Can't think of a reason for writing a backup permissions actually.. it only needs to be allowed to PutObject, DeleteObject, and list operations, IMHO. as far as I understand the process.

[2020-06-09 04:16] Dmitry1987 opened #864 "Wrong naming of cloud providers in 'exporting data' page"
Noticed the following:

![image](https://user-images.githubusercontent.com/9369080/84105448-37561680-a9cd-11ea-8360-a2b90f673b1f.png)

[2020-06-10 07:41] bmansheim commented on #862
Hi @Dmitry1987 . You are spot on. We have been looking into this for a while and your analysis certainly gives us more insight.
Just as a test, did you try using incognito?

[2020-06-10 07:53] bmansheim commented on #863
Thanks again @Dmitry1987 . I'll get confirmation on that.

[2020-06-10 08:06] Dmitry1987 commented on #862
Interesting, incognito mode actually acts like a usual page, there's still a very brief moment, maybe 0.2-0.5 sec at most, when the page renders (here it seems like literally the DOM rendering just wants is "all" at once to be first drawn, and only then i can scroll it) but it's at least x2-x3 faster than without incognito (this tiny page just literally freeze for 5-6 seconds for real https://docs

[2020-06-10 08:07] Dmitry1987 commented on #862
then i guess docs page verifies user authentication on each click or something like that... maybe cookies or some conditions that react to cookies content etc'.

[2020-06-10 09:05] bmansheim commented on #862
@Dmitry1987 Really glad you were able to confirm that. We'll look into it and hopefully make some improvements soon.

[2020-06-10 22:04] alexmilowski opened #868 "TOC Navigation missing from platform"
**Current behavior** (A short description of what you found)

The left navigation seems to have disappeared from the platform docs. It will appear patially if you click on platform ...
<img width="817" alt="Screen Shot 2020-06-10 at 3 02 13 PM" src="https://user-images.githubusercontent.com/1141890/84323458-b06b8000-ab2b-11ea-9ff9-f9ead8052e89.png">

**Expected behavior** (A short description of w

[2020-06-11 11:02] HitkoDev opened #869 "RedisInsight doesn't let me browse all databases"
**Current behavior** (A short description of what you found)

`'db' must be an integer between 0 and 15, got '30'`

**Expected behavior** (A short description of what you expected to find)

Since I have `databases 50` in redis config, let me browse database 30.

[2020-06-11 11:34] bmansheim commented on #869
Thanks, @HitkoDev .
@slemeur , what are your thoughts?

[2020-06-11 12:14] slemeur commented on #869
Hi @HitkoDev, yes I confirm the issue and we will add it to the backlog.

Out of curiosity (for me :)): how are you using your `50 databases`, why did you choose that approach?

[2020-06-11 14:04] HitkoDev commented on #869
I've got a bunch of services which require relatively small cache (a couple thousand items @ ~20kB), so it's more convenient to put them in a single Redis instance with 2GB RAM. They're different enough that I don't want to put them in the same database and use a key prefix, and I don't want to run a separate Redis instance for each service since I want a global eviction policy and, well, managing

[2020-06-14 11:55] bmansheim commented on #868
Thanks, @alexmilowski , for reporting this. It happens sometimes and goes away when we rerun the build. All better now.

[2020-06-14 11:55] #868 closed

[2020-06-17 20:09] rromanchuk commented on #542
**re redisinsight**: securing this is a PITA for small companies that collaborate in clear net. My SSL is terminated at the load balancer, but It would be nice if i could supply an `ENVIRONMENT` variable for at least basic http auth, that could be passed to the docker install.

https://github.com/RedisLabs/redislabs-docs/blame/master/content/ri/faqs.md#L135

There's also a reference to an undocume

[2020-06-17 23:08] banker commented on #542
Thanks for the feedback @rromanchuk. @slemeur Can you respond to this?

[2020-06-18 07:36] bmansheim commented on #862
@Dmitry1987 We are working on some small improvements in the site but we noticed that the compression wasn't turned on in the CDN. That seems to have helped. Can you confirm that?

[2020-06-18 08:31] bmansheim commented on #542
Hi @rromanchuk . That's referring to the admin password on the database. I'll change it to make it more explicit.

[2020-06-18 23:21] maxisam opened #886 "RediInsight 1.6 Docker image doesn't work."
I am using 1.5.0 and it works. When I upgrade to 1.6.0. It doesn't work.

When I roll back the version number, it starts to work again.

Here is the error message.

Traceback (most recent call last):,
  File "./startup.py", line 395, in <module>,
  File "./startup.py", line 378, in create_startup_logger,
  File "/usr/local/lib/python3.6/logging/handlers.py", line 202, in __init__,
    BaseRotating

[2020-06-19 06:59] Dmitry1987 commented on #862
Hi @bmansheim , it seems much better than last time I tried, yup. You can close the ticket if you want as well.

[2020-06-19 11:56] slemeur commented on #886
Hi @maxisam ! Thanks for reaching out.
Yes, since 1.6, the docker container is rootless which can raise some permission problems.

Can you try doing `docker exec` into your container and running `chown -R 1001 /db`

We are going to add that to the documentation:
https://github.com/RedisLabs/redislabs-docs/pull/887

[2020-06-19 12:34] Sam-Lin-MillersLab commented on #886
but it keeps restarting itself. I can't even SSH into the container.

[2020-06-19 15:10] GnaneshKunal commented on #886
@maxisam

Before starting the container, you have to change the permissions of the db directory if you are using docker volumes.

I guess you are trying to mount a directory as `/db` in redisinsight and redisinsight is run rootless and has the least permissions, so it can't access the mounting directory.

If you have run the command as following:

[code]

you have to change the permissions of `myi

[2020-06-19 15:12] GnaneshKunal commented on #886
@Sam-Lin-MillersLab

That is because redisinsight doesn't have permissions to access the directory, and it fails and you must have some container-orchestrator that is simply restarting the container since it failed.

Change the permissions of the db directory and start the process.

[2020-06-19 16:14] maxisam commented on #886
Thanks It works by just changing the folder without SSH into the container.

[2020-06-19 21:13] mikhailredis opened #889 "Outdated "Upgrade Redis Version" for RedisInsight"
**Current behavior** (A short description of what you found)
This page mentioned Redis 4.0 and Redis 3.2

**Expected behavior** (A short description of what you expected to find)
Redis 6.X and 5.X

**Screenshots** (Paste or drag-and-drop a screenshot)

**Additional context** (Add any other information)

[2020-06-21 07:33] bmansheim commented on #862
Thanks for pushing us to do this @Dmitry1987 . The Karma wasn't right until you put in the ticket.

[2020-06-21 07:33] #862 closed

[2020-06-21 14:37] #886 closed

[2020-06-22 13:46] bmansheim commented on #889
Thanks for bringing it up, @mikhailredis . Looks to me that we need to combine all of those memory optimization articles into a list of ways to optimize memory. Then we would reduce that article about upgrading Redis to "Use the latest version of Redis".
@slemeur @banker What do you think?

[2020-06-22 14:17] slemeur commented on #889
Yes, I'm really unsure that this section belongs to RedisInsight. (I think we inherited it from RDBTool).
In fact this section provided some nice tips on how to better use Redis and optimize the memory used. It feels to me that those are general and could be beneficial "outside" of the RedisInsight documentation.
@bmansheim : Do you think we have a better place for this?

[2020-06-22 14:27] bmansheim commented on #889
@slemeur Agreed. I'll see what I can do.

On Mon, Jun 22, 2020 at 5:17 PM Stévan Le Meur <notifications@github.com>
wrote:

--

*Ben Mansheim*
Documentation Specialist

Phone: 972.52.6916188

Twitter <https://twitter.com/redislabs>  LinkedIn
<https://www.linkedin.com/company/redis-labs-inc>  Facebook
<https://www.facebook.com/RedisLabs>

[image: Redis Labs] <https://redislabs.com/>

Disclaimer

Th

[2020-07-08 08:55] #889 closed

[2020-07-13 13:49] #770 closed

[2020-07-14 19:52] andresrinivasan opened #922 "Formatting and missing content on https://docs.redislabs.com/latest/platforms/kubernetes/"
**Current behavior** (A short description of what you found)

Formatting issues and missing content

**Expected behavior** (A short description of what you expected to find)

The reverse of that

**Screenshots** (Paste or drag-and-drop a screenshot)

**Additional context** (Add any other information)

Formatting issues

- https://docs.redislabs.com/latest/platforms/kubernetes/sizing-kubernetes/
-

[2020-07-15 12:26] bmansheim commented on #922
Hi @andresrinivasan . Thanks for reporting this. The links that you sent look all OK to me. Can you re-check, clear cache, check in incognito, and if it is still a problem send your browser information and we'll get right on it.

[2020-07-15 15:18] andresrinivasan commented on #922
My apologies. You're correct I wasn't paying attention and I thought I was sharing page anchors. If you go to https://docs.redislabs.com/latest/platforms/kubernetes/ and scroll down to the sections, you'll see there is code that I believe wants a code block.

In the case of the promised information, search on _The cluster recovery_ and you'll see how it just cuts off.

[2020-07-15 16:00] bmansheim commented on #922
OK, @andresrinivasan . Now I see what you mean. You're right about the display of the text. I guess it's not clear enough on those pages that it is displaying summary text from the subpages of the section, with the intention that you would click on the title to see the full text.

That is currently as designed, but we will certainly consider making that more clear.

[2020-07-15 16:00] #922 closed

[2020-07-16 09:01] #518 closed

[2020-07-16 21:34] eexwhyzee commented on #855
@bmansheim just wanted to check in on this issue, really excited to start using this tool!

[2020-07-21 19:31] andresrinivasan opened #936 "cluster-options.md describes the cluster name as restricted to rec yet the examples use redis-enterprise"
**Current behavior** (A short description of what you found)

From `cluster-options.md`

Yet from [app_v1_redisenterprisecluster_cr.yaml](https://github.com/RedisLabs/redis-enterprise-k8s-docs/blob/master/crds/app_v1_redisenterprisecluster_cr.yaml)

[code]

**Expected behavior** (A short description of what you expected to find)

It appears `app_v1_redisenterprisecluster_cr.yaml` is correct and me

[2020-07-22 10:36] bmansheim commented on #936
@amiramm @alexmilowski Any thoughts on this?

[2020-07-22 11:44] amiramm commented on #936
This is fine. It is a specific restriction in a specific deployment
scenario. The doc is accurate.

On Wed, Jul 22, 2020 at 3:36 AM Ben Mansheim <notifications@github.com>
wrote:

--

*Amiram Mizne*

Principal Product Manager
Mobile: 781.548.9896

Twitter <https://twitter.com/redislabs>  LinkedIn
<https://www.linkedin.com/company/redis-labs-inc>  Facebook
<https://www.facebook.com/RedisLabs>

Disc

[2020-07-22 12:08] #936 closed

[2020-07-30 12:00] Steuf commented on #833
Hi guys,

Any news for the fix ?

[2020-07-31 12:45] slemeur commented on #855
Hi @eexwhyzee !
Thanks for reaching out and letting us know about your issue and the way you would like to run RedisInsight.

We'll add the configuration option so that you can prefix the URL when using a reverse proxy.

[2020-07-31 12:46] slemeur commented on #833
We have been able to reproduce the issue - so we'll investigate the problem and provide a fix soon.

Thanks for reaching out and letting us know about your issue!

[2020-08-03 16:04] davidpelfree commented on #855
I think using relative web URLs will be good enough. It will be "reverse proxy compatible" by default.

Why not avoid using additional environment variable if possible?

[2020-08-07 00:48] benjie91 commented on #833
Facing similar issue but I was using bitnami/redis helm chart

[2020-08-07 02:30] benjie91 opened #968 "Feature Request: Authentication for RedisInsight"
**Feature Request**
Currently there is no authentication provided by RedisInsight. Anybody who have access to the web link would be able to see the databases and edit the database settings.

[2020-08-10 07:50] slemeur commented on #833
@benjie91: Thanks for letting us know, we'll test that as well.

[2020-08-24 16:18] andresrinivasan opened #983 "The Database Operations page does not have a link to security setup"
**Current behavior** (A short description of what you found)
The [Database Operations](https://docs.redislabs.com/latest/rs/administering/database-operations/) page does not have a link to security setup

**Expected behavior** (A short description of what you expected to find)
The [Database Operations](https://docs.redislabs.com/latest/rs/administering/database-operations/) page should link to sec

[2020-08-25 19:46] marcuslange opened #987 "How to set logging level for RedisInsight"
**Current behavior** (A short description of what you found)
Insight logs are very noisy.

**Expected behavior** (A short description of what you expected to find)
Ability to set log level with environment variable, or if it is available, documentation on how its set.

[2020-08-26 08:50] bmansheim commented on #987
Thanks for that feedback, @marcuslange . I'll pass it to our product managers and see what they can do.

[2020-08-27 08:03] BayMax619 opened #992 "Authentication"
Hopes, Redis Insight could have it's own authentication func.

[2020-08-27 08:18] bmansheim commented on #992
Hi @BayMax619 . Thanks for the feedback. This was requested in https://github.com/RedisLabs/redislabs-docs/issues/968. If you follow that issue you will get updates when there is progress.

[2020-08-27 08:18] #992 closed

[2020-09-29 23:56] alexmilowski commented on #415
I feel like [PR 1007](https://github.com/RedisLabs/redislabs-docs/pull/1007) addresses the generic K8s setup (GKE, etc.). We need better leading intros for each supported platforms that directs the user to use the right guide.

[2020-10-05 19:08] ADD-SP opened #1056 "The description of 'volatile-ttl' differs somewhat from the official website."
**Current behavior** (A short description of what you found)

`volatile-ttl`: Evicts the **shortest time-to-live and least recently used keys** out of all keys with an “expire” field set.

https://docs.redislabs.com/latest/rs/administering/database-operations/eviction-policy/

**Expected behavior** (A short description of what you expected to find)

`volatile-ttl`: evict keys with an expire set, a

[2020-10-11 11:13] bmansheim commented on #1056
Thanks for pointing this out @ADD-SP .
@AlonMagrafta , can you comment on the discrepancy?

[2020-10-11 15:57] AlonMagrafta commented on #1056
@bmansheim we need to fix out docs.redislabs.com site, we just remove the "least recently used" part there.

[2020-10-12 08:22] #1056 closed

[2020-10-15 12:04] laurafernandezdiaz opened #1072 "Timeseries data timestamp truncated to seconds in RedisInsight"
I have been testing Redis Insight 1.7.1 and I noticed timestamps show wrong when viewing data with Redis Timeseries in Redis Insight.

![image](https://user-images.githubusercontent.com/51406942/96120397-bbc22400-0eee-11eb-9e51-8cb4bb18358a.png)
![image](https://user-images.githubusercontent.com/51406942/96120348-a9e08100-0eee-11eb-8111-7d1fc5df7127.png)

Data at higher resolutions than 1 second a

[2020-10-15 12:17] bmansheim commented on #1072
Hi @laurafernandezdiaz . Thanks for reaching out!
It looks like this is more of a support issue than a documentation issue but maybe @slemeur can respond here.

[2020-10-20 06:35] laurafernandezdiaz commented on #1072
Thank you very much for answering @bmansheim. Previously in other versions, the values were correct with their timestamp in ms, however, in recent versions, this is not the case. So it is wrong behavior. Maybe @slemeur can help us.

[2020-10-21 08:35] slemeur commented on #1072
Hi @laurafernandezdiaz . Thanks for reaching out with the issue you have.
We have not updated TimeSeries tool since few releases, but we can confirm there is an issue with the timestamp. We'll be looking at it and providing a fix quickly!
Thanks again !

[2020-10-25 09:01] sunkararp opened #1080 "RedisGraph deployment through Azure market place"
**Current behavior** (A short description of what you found)
Not able to deploy RedisGraph in Azure using Marketplace

**Expected behavior** (A short description of what you expected to find)
Need documentation how to deploy RedisGraph in Azure using Marketplace; especially using ARM templates.

**Screenshots** (Paste or drag-and-drop a screenshot)

**Additional context** (Add any other informatio

[2020-10-25 12:07] bmansheim commented on #1080
Hi @sunkararp . Thanks for that feedback.
@K-Jo Can you comment?

[2020-10-25 12:40] #1072 closed

[2020-10-25 17:10] K-Jo commented on #1080
@bmansheim @sunkararp We currently don't support RedisGraph in Azure market place.  If this would be a requirement, please reach out to support at redislabs dot com

[2020-10-25 17:10] #1080 closed

[2020-11-03 17:15] niki63 opened #1086 "undefined - undefined youtube"
**Current behavior** (A short description of what you found)

**Expected behavior** (A short description of what you expected to find)

**Screenshots** (Paste or drag-and-drop a screenshot)

**Additional context** (Add any other information)

[2020-11-04 09:24] bmansheim commented on #1086
No content

[2020-11-04 09:24] #1086 closed

[2020-11-20 22:56] andresrinivasan opened #1110 "Clarify in getting started with docker that this is not for production"
https://docs.redislabs.com/latest/rs/getting-started/getting-started-docker/

There is only one statement on the page that says this is for testing purposes. I suggest making multiple strong statements about how this is not for production.

[2020-11-20 22:58] andresrinivasan opened #1111 "For docker example, use --network host rather than exposing only a single port"
https://docs.redislabs.com/latest/rs/getting-started/getting-started-docker/

This eliminates the step of making sure the DB is listening on a specific port.

[2020-11-24 09:47] #1111 closed

[2020-11-24 09:47] #1110 closed

[2020-11-27 07:43] Sligcm commented on #869
I also have the same problem, may I ask when the official can fix this BUG?

[2020-11-27 14:33] raphaelauv opened #1117 "Replace master by primary in RedisInsight"
**Current behavior** (A short description of what you found)
The current (1.8) RedisInsight for a redis cluster show the word master and not primary ( for a node of the cluster )

**Expected behavior** (A short description of what you expected to find)
Something else than MASTER

Thank you

[2020-11-29 09:37] bmansheim commented on #1117
Hi @raphaelauv . Thanks for your feedback. We understand the difficulty with the language there and that there is a move in the industry away from master-slave terminology. This is a major process for us that entails changes deep in our code. The change is in our roadmap. Let me know if you need more details.

[2020-11-29 09:38] #1117 closed

[2020-11-30 12:59] slemeur commented on #987
Hi @marcuslange : We added the ability to configure the log level with environment variables: https://docs.redislabs.com/latest/ri/installing/configurations/#riloglevel

Right now the default is Warning - so it'll be much less noisy.

Thanks for reaching out and creating the ticket!

[2020-11-30 12:59] #987 closed

[2020-12-04 05:17] guitarrapc opened #1127 "[RedisInsight] Adding Databases Programmatically couldn't add instance via curl"
**Current behavior** (A short description of what you found)

When trying to add instance with REST API via curl failed 403 for csrf verification failed.

response

[code]

**Expected behavior** (A short description of what you expected to find)

successfully add instance.

**Screenshots** (Paste or drag-and-drop a screenshot)

**Additional context** (Add any other information)

launching redis in

[2020-12-04 05:24] banker commented on #1127
@slemeur Can you take a look?

[2020-12-17 22:16] chanyut opened #1147 "RedisInsight can't open on MacBook Air M1 Bigsur 11.1"
**Current behavior** (A short description of what you found)
RedisInsight failed to open on MacBook Air Silicon

**Additional context** (Add any other information)
Process:               RedisInsight [4210]
Path:                  /Applications/RedisInsight.app/Contents/MacOS/RedisInsight
Identifier:            com.redislabs.redisinsight
Version:               0.0.0 (???)
Code Type:             X86

[2020-12-17 23:23] banker commented on #1147
@K-Jo @slemeur

[2020-12-18 01:34] Kondax commented on #1147
Also getting this on the latest OS X update (v11.1).

[2020-12-21 08:26] yoshixmk commented on #1147
Me too. Not an M1 CPU, but it happens on latest OS X update (v11.1).

[2020-12-21 08:58] slemeur commented on #1147
Thank you for reporting the issue. We are currently looking at it.
cc @nishantgeorge

[2020-12-21 15:19] #342 closed

[2020-12-23 07:15] nishantgeorge commented on #1147
Hey guys, we are working on this as our highest priority. There are various possible issues, including problems with Python, tkinter, PyInstaller, etc. and we are trying to eliminate them one by one to get to the root of the issue.

I will post further updates here.

[2020-12-24 14:08] nishantgeorge commented on #1147
So the issue was to do with [`tcl/tk`](https://www.tcl.tk/), which is the UI library that RedisInsight uses to create that floating window when you start the application.

So far, RedisInsight did not bundle the library in its package on desktop; the system `tcl/tk` that comes with MacOS was used. On Big Sur (11.1), these libraries are broken and cause the crash we are seeing. More info [here](htt

[2021-01-01 22:50] Lucabenj commented on #1147
After the last update RedisInsight no longer runs on Mac OSX 10.13. The crazy thing is that the application constantly showed me to run the update, without notifying me that after that I would no longer be able to use it, due to compatibility problems with my operating system, precisely 10.13.

[2021-01-13 18:58] corey-hammerton commented on #833
We are facing the same problem as @benjie91 on the bitnami/redis Helm Chart. Is there any update on this fix?

[2021-01-13 20:19] corey-hammerton commented on #833
For additional information, we are running version 1.8.3 of Redis Insight

[2021-01-16 10:43] ayruslore commented on #261
Opened a pull request to resolve the issue.
Pull Request Link - https://github.com/RedisLabs/redislabs-docs/pull/1197

[2021-01-17 13:13] bmansheim commented on #261
Good form, @ayruslore . Thank you for jumping in to help us with this.

[2021-01-20 01:22] TiloGit opened #1200 "Platforms - Deploying Kubernetes with Persistent Volumes in Operator-based Architecture Storage spec"
Were do you list the requirements for the storage?
Can we use azure-file storage class (**Provisioner: kubernetes.io/azure-file**) which currently isn't posix compliant?

https://docs.redislabs.com/latest/rs/administering/designing-production/persistent-ephemeral-storage/
and
https://docs.redislabs.com/latest/platforms/kubernetes/concepts/persistent-volumes/

[2021-01-20 04:15] amiramm commented on #1200
Hi @TiloGit,
Storage requirements are listed under [Hardware Requirements](https://docs.redislabs.com/latest/rs/administering/designing-production/hardware-requirements/#productionenvironment)
For performant production use cases, block storage is required. For example, Azure Disk. Using the premium disk option is recommended. https://kubernetes.io/docs/concepts/storage/storage-classes/#azure-disk

[2021-01-20 17:24] TiloGit commented on #1200
Thanks for the quick update,.
So in non production use case, could azure-file work or not due to missing posix compliant?

[2021-01-20 23:05] mcacker opened #1204 "[RedisInsight] Malware reported in version 1.8.3"
My organization has pulled me off the network and asked me to remove RedisInsight due to malware being detected again.

I had this problem in the past, but it seems like it was a bug that was fixed, but now it's back.

Threat detected:
- Heur.AdvML.A!400 on usltpf1f7azv - this threat has been observed on this host once in the past 7 days.
C:\Program Files (x86)\RedisInsight\redisinsight.exe, 0A4E5

[2021-01-22 14:23] mcouillard opened #1206 "RedisInsight no longer works with Windows Redis 3.0"
Newer versions fail to work with windows redis version 3.0 - the most common version windows can use.
`The 'MEMORY'' command is not supported in the redis instance.`

When using the browser > pick key to view. It works fine when connecting to Redis 3.x and 5.x hosted by Linux.

Older versions of Insight used to work. I'm not sure when it broke. But I've been using Insight since <1.0.

[2021-01-23 09:17] K-Jo commented on #1206
@nishantgeorge Could we handle the lack of the support better?  @mcouillard can you send a feedback message in the tool about this?  This repository is four our documentation.

[2021-01-26 14:23] Sourabh25 opened #1207 "Redisinsight is not working on my mac machine"
Redisinsight is not launching on my mac

it used to launch normally. It is not working after I update my OS.

os info ; macOS Big Sur 11.1 version

Please let me know if you need any more information

[2021-01-28 15:51] dsalaza4 commented on #968
Are there any updates on this?

[2021-01-28 23:50] banker commented on #968
@K-Jo Ping.

[2021-02-02 18:45] banker commented on #596
This is being tracked internally.

[2021-02-02 18:45] #596 closed

[2021-02-03 22:01] mmorel-35 opened #1228 "Segment analytics stops redisinsight from starting when there is no internet connection"
**Current behavior**
Redisinsight seems to require internet access to start. I have the following trace
``
ERROR:segment:error uploading: HTTPSConnectionPool(host='api.segment.io', port=443): Max retries exceeded with url: /v1/batch (Caused by NewConnectionError('<urllib3.connection.VerifiedHTTPSConnection object at 0x7f9332412d30>: Failed to establish a new connection: [Errno -2] Name or service

[2021-02-10 10:05] mmorel-35 commented on #1228
@K-Jo , Any idea ?

[2021-02-14 12:43] rsabirov opened #1241 "Add support of viewing MsgPack data in RedisInsight"
Currently, RedisInstight supports the formatting of JSON (https://docs.redislabs.com/latest/ri/using-redisinsight/java-serialized-objects/), could we get MsgPack support as well? MsgPack is natively supported by Redis Lua.

[2021-02-16 17:34] imitationdave opened #1242 "Got a 404"
What link led you to our 404 page?
https://docs.redislabs.com/latest/rs/getting-started/redis-enterprise.yaml

Did you find the information you were looking for? If so, on which page?
No, no I am still looking for the example yaml file for deploying Redis on Kubernetes

[2021-02-16 18:00] banker commented on #1242
@alexmilowski Can you point @imitationdave in the right direction?

[2021-02-25 13:39] StupidHobbit commented on #833
Hey everyone, faced same problem with Redis Insight 1.9.0

[2021-02-25 23:07] banker commented on #529
Done: https://docs.redislabs.com/latest/rc/security/database-security/tls-ssl/

[2021-02-25 23:07] #529 closed

[2021-02-25 23:10] banker commented on #474
Moving to internal JIRA.

[2021-02-25 23:10] #474 closed

[2021-02-25 23:11] banker commented on #473
Moving to internal JIRA.

[2021-02-25 23:11] #473 closed

[2021-02-25 23:29] #261 closed

[2021-02-25 23:31] banker commented on #428
No longer applicable.

[2021-02-25 23:31] #428 closed

[2021-02-25 23:33] banker commented on #450
Moving to internal JIRA.

[2021-02-25 23:33] #450 closed

[2021-02-25 23:43] banker commented on #463
This is addressed here: https://github.com/RedisLabs/redislabs-docs/pull/1252

[2021-02-25 23:43] #463 closed

[2021-02-26 11:18] nishantgeorge commented on #833
@StupidHobbit Can you share some details about your setup, like which OS you are using RedisInsight on (Mac/Windows/Linux/Docker), how and where the Redis Sentinel cluster is deployed, etc.

[2021-02-26 12:24] StupidHobbit commented on #833
@nishantgeorge I'm using laptop with Ubuntu 18.04. Redis Sentinel is deployed with [Yandex Managed Service for Redis](https://cloud.yandex.com/services/managed-redis

[2021-03-01 02:53] bionicles opened #1253 "Popups - annoying"
**Current behavior** (A short description of what you found)

Three overlapping popups
1. Clippy the nagbot
2. Yes or no satisfied dialog
3. Cookie warning

**Expected behavior** (A short description of what you expected to find)
Docs shouldn't be covered by layers of popups

**Screenshots** (Paste or drag-and-drop a screenshot)
![93579FE7-C41A-4414-BA5A-D66364589E5D](https://user-images.githubuse

[2021-03-02 12:20] nishantgeorge commented on #833
@StupidHobbit Thanks for the information.

Currently, RedisInsight is not tested with Yandex, but assuming it behaves like a normal properly-configured Redis Sentinel cluster, it _should_ work.

I've taken it down as something we have to investigate, and we'll get back to you when we figure out what the issue is here.

[2021-03-02 12:55] corey-hammerton commented on #833
Is there an update for this issue for Redis Sentinel? @nishantgeorge

[2021-03-09 23:06] marksullivancrowd opened #1269 "RedisInsight ERROR after adding a node to an existing cluster (incorrect data added to nodes field in instances table in db dict )"
RedisInsight version 1.10.0

[code]

looking at the sqlite db it should be only adding {'host': '(IP)', 'port': '(nonstandardPort)'}
but its adding
{'host': '(IP)', 'port': '(nonstandardPort)', 'username': '', 'password': '', 'ssl': False}

to the "nodes" text in the instances table of the sqlite
using
https://hub.docker.com/layers/redislabs/redisinsight/latest/images/sha256-71d0291d64fa76158cb4c5

[2021-03-10 01:05] marksullivancrowd opened #1270 "RedisInsight Bug Redis Cluster replica not showing correct stats after connected to a master"
RedisInsight version 1.10.0

After you create a replica in redis cluster under the master-replica nodes the replica node shows "0 keys | 0 B"
inorder to fix it you need to delete the database connection and reconnect it

[2021-03-11 07:48] nishantgeorge commented on #833
@corey-hammerton We are still unable to reproduce the issue properly. It would be super helpful if you could provide the exact steps to reproduce the issue, including your setup in k8s.

[2021-03-17 09:13] bmansheim opened #1275 "Code copy icon is shown in the footer"
**Current behavior** (A short description of what you found)
The code copy icon shows in the footer.

**Expected behavior** (A short description of what you expected to find)
That the code copy icon is hidden by the footer

**Screenshots** (Paste or drag-and-drop a screenshot)
![image](https://user-images.githubusercontent.com/19514688/111443000-9e99b780-8711-11eb-8449-f1159a1c22f2.png)

**Additio

[2021-03-17 13:01] lanceleonard commented on #1275
Hi Ben!  Thanks for the report.

Are you reporting this for the RC Getting Started page (rs/getting-started/)?

Also, can you tell me which browser, version, and OS you're using?  (I can't repo on my machine and therefore suspect a markup/CSS issue of some kind.  These details will help direct the troubleshooting.)

Thanks!  Hope everything's well.

[2021-03-17 16:40] corey-hammerton commented on #833
K8s Version: 1.17.13 (GKE)
Redis Insight Version: 1.8.3
Version of Redis App: 6.0.11
Version of Redis Sentinel: 6.0.11
Username/password: N/A
TLS: N/A

Steps to reproduce:

1. Redis Insight UI -> Add Redis Database
2. Connect to a Redis Database
3. Host: <redis_svc>
4. Port: 26379
5. Name: <redis_svc>
6. Username & Password: Leave blank
7. Redis Sentinel instance found -> Add Selected Database
8.

[2021-03-18 01:48] brett--anderson opened #1279 "RedisInsight crashing OSX, forcing login and OS session restart"
**Current behavior** (A short description of what you found)
Downloaded RedisInsight, tried running it from the mounted dmg, also tried dragging it to applications and running it there. After a few seconds I'm booted out of the OS session and have to log in to my mac again as though I just started it

**Expected behavior** (A short description of what you expected to find)
I expected RedisInsight

[2021-03-22 15:15] dallastexas92 opened #1284 "Bad Link on 'Getting Started' page"
**Current behavior** (A short description of what you found)
This link doesn't take you anywhere (hyperlinked under step 3 of 'To Install RS run...':

https://docs.redislabs.com/latest/rs/installing-upgrading/#custom-installation-directories

**Expected behavior** (A short description of what you expected to find)
Link should open up with custom directories

**Screenshots** (Paste or drag-and-drop

[2021-03-22 15:15] dallastexas92 commented on #1284
Highlighted link above is the link in question

[2021-03-22 16:00] #983 closed

[2021-03-23 09:58] nishantgeorge commented on #833
@corey-hammerton Thank you! We will try this and let you know soon.

[2021-03-24 15:16] TobyHFerguson opened #1290 "Changing the (Key) Hashing Policy is incomplete"
**Current behavior**
The [Changing the hashing policy](https://docs.redislabs.com/latest/rc/concepts/clustering/#changing-the-hashing-policy) section describes in general terms about the key hashing policy and the fact that you can change it. It describes in quite a bit of detail about why and what you might change it for.

Likewise, [Supported hashing policies](https://docs.redislabs.com/latest/r

[2021-03-24 15:31] kaitlynmichael commented on #1290
@TobyHFerguson I'd like to move this to a Jira issue so we can prioritize and track it with the rest of our work. I've created DOC-640 for this issue.

[2021-03-28 12:08] feketegy commented on #825
RedisInsight doesn't support ssh tunneling out of the box as far as I know. I had to manually open an ssh tunnel and connect to that.

You can open an SSH tunnel like so: `ssh -L<localPort>:localhost:<remotePort> <remoteUser>@<remoteServer>`, for example: `ssh -L 36379:localhost:6379 myuser@myserver.net`. My remote Redis is listening on 6379 and tunneled it through to 36379.

As long as the tunnel

[2021-03-29 23:05] FriedCircuits commented on #1279
Same problem here. Messed me up pretty bad. Lost everything I had running. Not a happy camper right now.

[2021-04-02 03:14] billyangli opened #1297 "Does redisinsight v1.10.0 support windows10?"
I try to install redisinsight v1.10.0  on my pc,WIN10,but it failed.

[2021-04-02 03:17] billyangli commented on #1297
it shows, this installation package could not be opened.Verify that package exists and that you can access it, or  contact the application dendor to verify that is a valid windows installer package.

[2021-04-05 11:53] leonh commented on #1279
Same problem here. Very bad user experience.
Previous versions of Redis Insight have worked with no problem for me.

[2021-04-05 16:23] ollopaci commented on #1279
Thank you for reporting this issue. We are currently looking into this with the highest priority.

[2021-04-05 16:37] leonh commented on #1279
Just to confirm **Additional context**.

I downloaded redisinsight-mac-1.10.0.dmg from the redislabs site today.
I'm running OSX 10.14.6 on my laptop

[2021-04-12 07:03] dearlove0007cl opened #1307 "Invisible"
**Current behavior** (A short description of what you found)

**Expected behavior** (A short description of what you expected to find)

**Screenshots** (Paste or drag-and-drop a screenshot)

**Additional context** (Add any other information)

[2021-04-19 14:57] lanceleonard commented on #1307
Hi @dearlove0007cl!  Your issue came in blank.  Please update it so that we can see what the problem is and figure out how to fix it.  Thanks!

[2021-04-26 10:29] wpirraglia commented on #833
Hi:
I'm facing the same issue with a basic docker env configuration (3 docker containers, running both redis server and sentinel in the same container), trying to add the db programatically.
When trying to add the server through the UI, it displays the same error as reported initially.

[2021-04-26 12:27] leonh commented on #1279
Any update on this? Where can I download previous versions?
I find redisInsgight to be a useful tool, but  I can only download latest broken release via https://redislabs.com/redis-enterprise/redis-insight/

[2021-04-26 17:06] lanceleonard commented on #1284
This behavior is actually as designed; the link target points to the section header containing the process.  (When the header is already in view, nothing seems to happen.)

Removed the link and reordered the step contents.  This should provide a better experience.

[2021-04-28 14:23] ollopaci commented on #1279
We now have a fix for this issue and will be releasing the patch by the end of this week (tentatively tomorrow). Hope this works for you, as previous versions are not so readily available for download.

[2021-04-29 18:23] GnaneshKunal opened #1354 "Unable to build and start docs server"
**Current behavior** (A short description of what you found)
Unable to start server

**Expected behavior** (A short description of what you expected to find)
Should start server

**Screenshots** (Paste or drag-and-drop a screenshot)
Gives this error:
[code]

**Additional context** (Add any other information)

[2021-04-30 10:47] GnaneshKunal commented on #1297
@billyangli Can you provide a screenshot or any logs of the issue you are facing?

[2021-04-30 13:19] ollopaci commented on #1279
RedisInsight v1.10.1 has now been released and it includes the fix for this issue.

[2021-04-30 15:53] lanceleonard commented on #1354
The build won't occur if files cannot be found.

Those missing files look to be fairly recent additions, so I would verify that you're up-to-date with master.

(The project changes on a near daily basis and we've been reorganizing different parts of the project.)

[2021-04-30 15:55] lanceleonard commented on #1307
Without more information to go on, there doesn't seem to be vale in leaving this open.

If there's still a problem, feel free to reopen and update accordingly.

[2021-04-30 15:55] #1307 closed

[2021-04-30 16:15] GnaneshKunal commented on #1354
I'm up to date with master. I got the build failure in #1353 as well. And the PR was up to date with master. You can verify that with the parent commit.

[2021-04-30 16:36] lanceleonard commented on #1354
OK.  Respectfully: a quick look at your repo shows it's (as of this writing) four commits behind master.

I don't know that's precisely the problem you're running into, but I do know that these errors are reporting missing files.  For some reason, they're not being found.  Perhaps there's an uncommitted change getting in the way.  Perhaps a file's been added to your local `.gitignore`.  Perhaps it

[2021-05-02 06:36] GnaneshKunal commented on #1354
Did pull master, still its giving the missing files' error.

Did a fresh pull and ran the build, still getting the error:

https://user-images.githubusercontent.com/20211167/116804712-a6d17900-ab3e-11eb-848d-a7871a2b48da.mp4

[2021-05-03 17:12] lanceleonard commented on #1354
Thanks for the updated instructions.  I've just followed the same steps on a new device (one that hasn't previously had the repo locally) and it compiled without error.

At this point, I would completely remove Hugo and any local copies of the repo.  I would also check the `git config` settings to make sure there isn't anything getting in the way.  Than I'd start over.

FWIW: As a matter of habit,

[2021-05-03 18:18] lanceleonard commented on #1284
It looks like we've resolved this issue, so I'm closing this.

[2021-05-03 18:18] #1284 closed

[2021-05-03 18:20] lanceleonard commented on #1275
@bmansheim - Is this still an issue for you?

If so, would you mind adding the details requested above?

If not, is it OK to close this issue?

[2021-05-03 18:23] lanceleonard commented on #1253
Hi @bionicles!  We hear you.  We're working with marketing to improve the experience.

We don't have anything to announce at this point, but the popups are definitely part of that conversation.  Stay tuned.

[2021-05-04 10:50] leonh commented on #1279
Thanks for updating on this ticket and getting a new release out to the public. I have just tested and looks good for me.

[2021-05-05 15:34] TobyHFerguson opened #1358 "RedisCloud How-Tos - enhance to includ API and Terraform"
The Cloud HOW-TO section makes no mention of the API nor the Terraform module - we should connect them into the HOW-TO to ensure that we've covered all the ways that RedisCloud can be created

[2021-05-05 15:36] TobyHFerguson opened #1359 "IAM Resources - CloudFormation How-To - extend to include API access to variables"
In the CloudFormation part of the IAM Resources HOW-TO there's mention of how to access the various variables to complete the cloud account creation process, but there's no description of how to do that via the AWS CLI. That should be added.

[2021-05-10 17:34] lanceleonard commented on #1275
Closing, per previous comment.

If the problem recurs, please feel free to reopen or to file a new issue.  (Um, if it does recur, please include the details requested earlier so that we can try to reproduce.)

[2021-05-10 17:34] #1275 closed

[2021-05-11 20:50] bschaatsbergen opened #1372 "" too short, trying to add redis cluster instance to RedisInsights"
**Current behavior** (A short description of what you found)
When setting up a redis docker cluster  I receive the following error, does anyone have an idea?
![image](https://user-images.githubusercontent.com/58337159/117883019-c1eb6980-b25f-11eb-99b5-7069dd766088.png)

**Expected behavior** (A short description of what you expected to find)

**Screenshots** (Paste or drag-and-drop a screenshot)

[2021-05-11 20:58] #1372 closed

[2021-05-18 15:02] TobyHFerguson opened #1375 "Need to document how to use Prometheus in the cloud"
DELETED - Redislabs JIRA: DOC-726

[2021-05-19 18:26] TobyHFerguson commented on #1375
This work is related: https://www.google.com/url?q=https://github.com/Redislabs-Solution-Architects/redis-enterprise-cloud-gcp/blob/main/monitoring/monitoring.md&sa=D&source=editors&ust=1621451736991000&usg=AOvVaw2KNOPGqDxq6QCxad6dBdH0

[2021-05-27 20:23] guitarrapc commented on #1127
I've confirm it can do with csrf token pass. It's appreciate if doc advise sample code with cURL access.

[code]

[2021-05-27 20:23] #1127 closed

[2021-06-06 10:35] bionicles commented on #1253
Np, thx for your attention

[2021-06-15 13:48] kaitlynmichael commented on #1375
Closing this issue since it's being tracked in DOC-726

[2021-06-15 13:48] #1375 closed

[2021-06-15 13:51] kaitlynmichael commented on #1359
Moving this to Jira (DOC-748)

[2021-06-15 13:51] #1359 closed

[2021-06-15 13:57] kaitlynmichael commented on #1242
@imitationdave the repo you are looking for is located here: https://github.com/RedisLabs/redis-enterprise-k8s-docs/tree/v6.0.20-4

[2021-06-15 13:58] #1253 closed

[2021-06-15 14:00] kaitlynmichael commented on #606
This issue is being tracked in Jira (DOC-750)

[2021-06-15 14:00] #606 closed

[2021-06-15 14:04] kaitlynmichael commented on #824
Moving this issue to Jira (DOC-751)

[2021-06-15 14:04] #824 closed

[2021-06-15 14:08] kaitlynmichael commented on #605
Moving this issue to Jira (DOC-752)

[2021-06-15 14:08] #605 closed

[2021-06-15 14:11] kaitlynmichael commented on #1358
Moving issue to Jira (DOC-753)

[2021-06-15 14:11] #1358 closed

[2021-06-15 14:14] kaitlynmichael commented on #863
Moving this issue to Jira (DOC-754)

[2021-06-15 14:14] #863 closed

[2021-06-15 14:14] #608 closed

[2021-06-15 14:16] kaitlynmichael commented on #415
This will be resolved as part of the K8s refresh project (DOC-532)

[2021-06-15 14:16] #415 closed

[2021-06-15 14:17] #1200 closed

[2021-06-18 14:16] #1279 closed

[2021-07-02 15:59] cyberb opened #1425 "RedisInsight openshift support"
I am trying to run RedisInsight image on openshift and it deos not seem to work. If I run it locally on plain docker it works fine.

I know openshift has more limitations than a local docker for example a special user id behaviour https://cookbook.openshift.org/users-and-role-based-access-control/why-do-my-applications-run-as-a-random-user-id.html

Can you tell me if openshift is supported?

[2021-07-02 16:24] lanceleonard commented on #1425
Hi @cyberb; welcome to the docs repo.

For help with OpenShift, see [Getting started with Kubernetes and OpenShift](https://docs.redislabs.com/latest/platforms/kubernetes/getting-started/openshift/).

If you need additional help, please file a support ticket.

[2021-07-02 16:27] lanceleonard commented on #1425
Also, see https://redislabs.slack.com/archives/CBPBES9RB/p1625079560039900 for updates made in RS 6.0.20 (that aren't reflected in the linked doc).

[2021-07-02 16:28] lanceleonard commented on #1425
(Delete a posted comment accidentally from another thread.  Sorry for the trouble.)

[2021-07-02 16:50] cyberb commented on #1425
Sorry for not being clear, I am talking specificly about RedisInsight docker image https://hub.docker.com/r/redislabs/redisinsight
It hangs in openshift but runs fine on local docker.
Are you saying it is possible but I have to use Redis Enterprise Operator?

[2021-07-03 15:53] lanceleonard commented on #1425
I'm merely pointing out that this is the doc repo, not formal support.

Our docs on OpenShift [are here](https://docs.redislabs.com/latest/platforms/kubernetes/getting-started/openshift/).

If you need additional help, please file a support ticket.

[2021-07-03 16:14] cyberb commented on #1425
Ok, do you know where I can file an issue about RedisInsight docker image?

[2021-07-05 22:07] lanceleonard commented on #1425
Per the [Redis page](https://hub.docker.com/_/redis) on Docker hub, it looks like you'll want to use https://github.com/docker-library/redis/issues to file issues with the Docker images.

[2021-07-06 12:48] cyberb commented on #1425
Thanks, https://github.com/docker-library/redis/issues/284

[2021-07-06 19:20] #1242 closed

[2021-07-07 05:50] banker commented on #1354
Unable to reproduce. Please let us know if you still need help, @GnaneshKunal .

[2021-07-07 05:50] #1354 closed

[2021-07-07 16:06] cyberb commented on #1425
They said:
[code]

[2021-07-07 16:09] cyberb commented on #1425
Where can I do this?
Do I need to buy a license to do that?

[2021-07-12 21:10] lanceleonard commented on #1425
If you have an account on the Redis Enterprise Cloud [admin console](https://app.redislabs.com), you can add a support ticket after signing in.

Alternate support options are listed at https://redislabs.com/company/support/

[2021-08-03 22:54] samcarpentier commented on #855
@ollopaci Any ETA on this one? That would be very useful!

[2021-08-03 22:57] samcarpentier commented on #833
@ollopaci @K-Jo Any ETA on this one? I tried every RedisInsight from 1.2.0 to the latest 1.10.1 and this bug seems to have always been there...

[2021-08-04 08:40] jelmokri commented on #833
Any news ? facing the same issue with redisinsight in a docker and Redis server and sentinel on the same server but not in docker

[2021-08-06 15:29] chenriang1 commented on #1204
The same thing happened in version 1.10.1.
![image](https://user-images.githubusercontent.com/79974338/128534274-8666e9d0-c0de-44a7-a7fd-d386f1e9d130.png)

Also,
https://www.virustotal.com/gui/file/5a23860e1f1ac0f7f89d6bcfa9d1d5f77ca66e653bd6230caf64e1cd00f5ab84/detection

![image](https://user-images.githubusercontent.com/79974338/128534342-7c35aef4-6df1-4681-a8db-9dc9979391f9.png)

[2021-08-07 13:16] niki63 opened #1477 "Ghj"
https://www.instagram.com/p/CSRkK21BfBd/?utm_medium=share_sheet

[2021-08-11 16:29] lanceleonard commented on #1477
Closing.

If you're having a problem with the docs, please open a new issue that specifies the problem as a traditional bug report (what page has the problem, what you expected, what you found, what you would prefer, etc.)

[2021-08-11 16:29] #1477 closed

[2021-08-11 17:32] radiantone opened #1481 "Redinsights docker doesn't start"
**Current behavior** (A short description of what you found)

redis is up-to-date
Starting insights ... done
Attaching to insights
insights    | Process 9 died: No such process; trying to remove PID file. (/run/avahi-daemon//pid)
insights    | Traceback (most recent call last):
insights    |   File "./entry.py", line 11, in <module>
insights    |   File "./startup.py", line 47, in <module>
insight

[2021-08-12 02:07] #1481 closed

[2021-08-13 10:14] jawabuu commented on #833
@nishantgeorge @slemeur I'm able to reproduce this consistently.
On the other hand, connecting `STANDALONE` & `CLUSTER` connectionType works fine.

[2021-08-18 11:34] NickSalter opened #1496 "Adding Databases Programmatically - disable Verify TLS Certificate"
When adding a database via the GUI the option 'Verify TLS Certificate' can be disabled however looking at the documentation (<https://docs.redis.com/latest/ri/using-redisinsight/api/#tls-parameters>) this doesn't appear to be possible via the api. Is there an undocumented parameter to do this?

When trying to add a database via the api with TLS enabled I get the below error:

{"errCode":"REDIS_CON

[2021-09-03 08:49] revathyr13 commented on #833
@nishantgeorge  @slemeur  @banker  I am also able to reproduce the same error for redis-sentinel failover cluster

[2021-09-13 16:46] oguzhanaygn opened #1532 "add passing environment variable for target redis hosts in redisinsight k8s deployment yaml"
Hi, recently i'm working on deploying redisinsight to my AWS EKS cluster, I don't want to manage/add any of my infra component manually, so I'm trying to pass my redis hosts as environment variables to k8s deployment yaml. But as far as I understood, it is not being supported.

It can be very useful to be able to pass host & port variables for target redis databases that we want to connect via red

[2021-09-17 22:46] mmcelwain01 commented on #1297
My sincere,  thank you to all of you!!! I really appreciate everything everyone has posted and help with!!

[2021-10-14 10:23] wpirraglia opened #1603 "Adding Instance programmatically without Verifying TLS Certificate"
**Current behavior** (A short description of what you found)
When adding a database via the GUI the option 'Verify TLS Certificate' can be disabled however looking at the documentation (https://docs.redis.com/latest/ri/using-redisinsight/api/#tls-parameters) this doesn't appear to be possible via the REST API. Is there an undocumented parameter to do this?

When trying to add a database via the ap

[2021-10-18 21:07] johnboy007 commented on #968
Hi guys - checking if there has been any update on this?

[2021-10-22 10:14] ahkui opened #1618 "RedisInsight Zset can't show full content"
Can't preview JSON Content when key type is `zset`

![image](https://user-images.githubusercontent.com/14049597/138436713-e11282fb-94c9-4697-8026-b8809f923f8b.png)

[2021-11-01 15:35] MuhammedKalkan opened #1637 "RedisInsight Docker Error"
Version 1.10 and above is complaining about not to use  REDISINSIGHT_PORT and is deprecated above version 1.9. However at the next line it says REDISINSIGHT_PORT is expected as a number but got full IP instead even though RIPORT is defined.

Also 1.11 version says lib mismatch and does not start

[2021-11-01 17:28] #1637 closed

[2021-11-09 01:41] sibuv opened #1655 "rladmin status output shows extra characters junk characters. This is creating issues for creating health check reports manually"
**Current behavior** (A short description of what you found)

**Expected behavior** (A short description of what you expected to find)

**Screenshots** (Paste or drag-and-drop a screenshot)

**Additional context** (Add any other information)

[2021-11-09 01:46] sibuv commented on #1655
I cannot paste the full output .But a sample of the output is as below.

[?1034h[1mCLUSTER NODES:[0m
[1m[4mNODE:ID ROLE   ADDRESS     EXTERNAL_ADDRESS HOSTNAME               SHARDS CORES FREE_RAM     PROVISIONAL_RAM VERSION   STATUS[0m
[36m*node:1 slave  254.4.7.148

I am worried about these characters in the output and processing output using perl in linux. These extra characters is creatin

[2021-11-09 14:05] utsavtulsyan opened #1657 "Unclear Documentation"
**Current behavior** (A short description of what you found)

[code]

What is the the two latency, what does highest signify? How is it calculated from the normal metric?

**Expected behavior** (A short description of what you expected to find)
Clear explanation of the terms used.

**Screenshots** (Paste or drag-and-drop a screenshot)
NA

**Additional context** (Add any other information)
https://

[2021-11-09 14:20] lanceleonard commented on #1657
@utsavtulsyan - Thanks for the report; we'll look into it.  If you need immediate help, please [reach out to support](https://redis.com/company/support/)

[2021-11-16 10:34] alan-wint commented on #1204
I just ran into the same issue.  Latest installer of Redis Insight from https://redis.com/redis-enterprise/redis-insight/

[2021-11-16 17:55] lanceleonard commented on #1655
Hi @sibuv - I'm afraid you'll need to [reach out to Support](https://redis.com/company/support/) for help with this.

[2021-11-16 17:56] lanceleonard commented on #1603
Hi @wpirraglia - I'm afraid you'll need to [reach out to Support](https://redis.com/company/support/) for help with this.

[2021-11-17 08:14] nantiferov commented on #968
I guess as a workaround it's possible to use https://github.com/oauth2-proxy/oauth2-proxy

[2021-11-18 04:20] GnaneshKunal commented on #790
@tayler-king RedisInsight v1.11 was released and the problem must have been probably fixed. Can you try it with v1.11?

Also the problem is that your host might not be set to 127.0.0.1 or localhost. If you are on linux you can check `/etc/hosts` file and there should be a following entry:
[code]

If you know your hostname, you can just pass your hostname in host environment variable, i.e, `RIHOST=

[2021-11-18 04:23] GnaneshKunal commented on #1618
Hey @ahkui, Thanks for reporting. We are looking into it.

[2021-11-18 04:27] GnaneshKunal commented on #825
@likemoongg

The steps mentioned by @feketegy is the way to go. RedisInsight has no plans to add tunnel support since it is usually done out of the application.

[2021-11-18 04:27] GnaneshKunal commented on #825
@ollopaci This issue can be closed!

[2021-11-18 04:31] GnaneshKunal commented on #869
Hey @HitkoDev The support was added. Can you try with the latest version of RedisInsight. Thanks!

Here's how it looks like:
![image](https://user-images.githubusercontent.com/20211167/142352140-1b99af6f-99fb-4c14-ae3f-59015d216846.png)

[2021-11-18 04:40] GnaneshKunal commented on #1207
Hi @Sourabh25, BigSur support has been added.

[2021-11-18 04:41] GnaneshKunal commented on #1207
@ollopaci This issue can be closed.

[2021-11-18 04:49] GnaneshKunal commented on #1603
Hi @wpirraglia, you can pass `verifyServerCert`  and set it to `false`.

[2021-11-18 05:21] GnaneshKunal commented on #1532
Hey @oguzhanaygn, Currently there's no option but there's an alternative way to do it.

We have an option to add databases progammatically through APIs: https://docs.redis.com/latest/ri/using-redisinsight/api/. You can write a shell script and run it, maybe in same container or different, right after starting redisinsight. Its more versatile that you can even pass TLS config through the APIs.

[2021-11-18 05:22] GnaneshKunal commented on #1496
Hey @NickSalter, you can pass `verifyServerCert` and set it to `false`.

[2021-11-18 05:24] GnaneshKunal commented on #1425
@cyberb, can you share the RedisInsight container logs?

[2021-11-18 05:25] GnaneshKunal commented on #1297
Hi @billyangli, can you try with RedisInsight v1.11?

[2021-11-18 05:28] GnaneshKunal commented on #1270
Hey @marksullivancrowd, Checking this.

[2021-11-18 05:29] GnaneshKunal commented on #1269
Hey @marksullivancrowd, looking into this and will get back to you.

[2021-11-18 09:34] HitkoDev commented on #869
@GnaneshKunal just noticed it, works like a charm 👍

[2021-11-18 09:34] #869 closed

[2021-11-19 16:31] cyberb commented on #1425
Sorry it actually worked in the end, it was an issue on our side.

[2021-11-19 16:31] #1425 closed

[2021-11-22 10:01] #1207 closed

[2021-11-22 12:31] #825 closed

[2021-11-22 13:22] NickSalter commented on #1496
That worked! Thanks very much for taking the time to reply.

[2021-11-22 13:22] #1496 closed

[2021-11-23 07:25] skaravad commented on #855
It would be good feature to have, we server most of our apps from a single host/app_name like http://host/<app1> having the base_url as config var makes life easy, thanks in advance.

[2021-11-28 11:45] GnaneshKunal commented on #1603
This [comment](https://github.com/RedisLabs/redislabs-docs/issues/1603#issuecomment-972535934) fixes the problem.

Also, this issue is a duplicate of: https://github.com/RedisLabs/redislabs-docs/issues/1496 which was verified.

Also, a PR on documenting the serverCert and caCert has been raised: https://github.com/RedisLabs/redislabs-docs/pull/1679

So this issue can be now closed. @ollopaci

[2021-11-28 11:46] GnaneshKunal commented on #1532
@oguzhanaygn
You can also make a GET request to an [redisinsight exposed API](https://docs.redis.com/latest/ri/using-redisinsight/api-get/) to add database.

[2021-11-28 11:47] GnaneshKunal commented on #1532
@ollopaci

This issue can be closed.

[2021-11-29 10:59] wpirraglia commented on #1603
I have tested the `verifyServerCert ` and it worked.
Thanks for checking it, and sorry for the late response.

[2021-11-29 10:59] #1603 closed

[2021-11-30 18:45] gmflau opened #1685 "More detail about backup files would be helpful"
**Current behavior** (A short description of what you found)
Some customers reported that it is confusing to see more than one backup rdb.gz files being generated when backing up a single database. (https://docs.redis.com/latest/rc/databases/back-up-data/)

**Expected behavior** (A short description of what you expected to find)
It would be helpful to describe the 1:1 ratio between #shards of a da

[2021-11-30 18:50] gmflau opened #1686 "How to import backup files for multi-shard database"
**Current behavior** (A short description of what you found)
Currently, the documentation (https://docs.redis.com/latest/rc/databases/import-data/) to import back files for a multi-shard database.  It only tells how to import a single db.gz file.

**Expected behavior** (A short description of what you expected to find)
It would be helpful the documentation to share instructions how to handle an im

[2021-12-03 02:46] russ-lewis opened #1690 "Update node-redis Documentation to v4"
**Current behavior**

Gives example code which is correct for node-redis 3.x but which fails (that is, silently fails to do anything) on 4.0.  As of 8 days ago, 4.0 is current in npm.

**Expected behavior**

Website should show both v3 and v4 code examples.

**Additional context**

Please note that I've added an issue in node-redis, asking them to give error messages to make this easier to find; h

[2021-12-03 03:46] lanceleonard commented on #1690
@russ-lewis - Thanks for the report; we'll see what we can do.

Have you seen the [developer.redis.com](https://developer.redis.com/) info [on node-redis](https://developer.redis.com/develop/node/gettingstarted)?  It looks to be a bit more up-to-date.  Also, take a look at the new [Redis-OM library for Node.js](https://developer.redis.com/develop/node/redis-om).

If you need further help, the [Red

[2021-12-03 13:48] lanceleonard commented on #1685
Hi @gmflau - per our private discussion, this will be tracked internally (DOC-1028).

[2021-12-03 13:48] #1685 closed

[2021-12-03 13:48] lanceleonard commented on #1686
Hi @gmflau - per our private discussion, this will be tracked internally (DOC-1028).

[2021-12-03 13:48] #1686 closed

[2021-12-06 18:35] #1532 closed

[2021-12-06 23:51] lanceleonard commented on #542
Hi @IAmATeaPot418 and @rromanchuk!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-06 23:51] #542 closed

[2021-12-06 23:52] lanceleonard commented on #734
Hi @abdomazzika and @ClaytonOlleyITN!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-06 23:52] #734 closed

[2021-12-06 23:53] lanceleonard commented on #790
Hi @tayler-king!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-06 23:53] #790 closed

[2021-12-06 23:54] lanceleonard commented on #833
Hi everyone!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-06 23:54] #833 closed

[2021-12-06 23:56] lanceleonard commented on #855
Hi @eexwhyzee!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-06 23:56] #855 closed

[2021-12-07 00:00] lanceleonard commented on #968
Hi @benjie91, @dsalaza4, & @johnboy007!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

As a result, we're closing issues that aren't directly related to the docs published to https://docs.redis.com.

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-07 00:00] #968 closed

[2021-12-07 00:01] lanceleonard commented on #1147
Hi @chanyut!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

As a result, we're closing issues that aren't directly related to the docs published to https://docs.redis.com.

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-07 00:01] #1147 closed

[2021-12-07 00:02] lanceleonard commented on #1204
Hi @mcacker!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

As a result, we're closing issues that aren't directly related to the docs published to https://docs.redis.com.

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-07 00:02] #1204 closed

[2021-12-07 00:03] lanceleonard commented on #1206
Hi @mcouillard!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

As a result, we're closing issues that aren't directly related to the docs published to https://docs.redis.com.

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-07 00:03] #1206 closed

[2021-12-07 00:04] lanceleonard commented on #1228
Hi @mmorel-35!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

As a result, we're closing issues that aren't directly related to the docs published to https://docs.redis.com.

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-07 00:04] #1228 closed

[2021-12-07 00:04] lanceleonard commented on #1241
Hi @rsabirov!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

As a result, we're closing issues that aren't directly related to the docs published to https://docs.redis.com.

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-07 00:04] #1241 closed

[2021-12-07 00:05] lanceleonard commented on #1269
Hi @marksullivancrowd!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

As a result, we're closing issues that aren't directly related to the docs published to https://docs.redis.com.

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-07 00:05] #1269 closed

[2021-12-07 00:05] lanceleonard commented on #1270
Hi @marksullivancrowd!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

As a result, we're closing issues that aren't directly related to the docs published to https://docs.redis.com.

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-07 00:05] #1270 closed

[2021-12-07 00:06] lanceleonard commented on #1297
Hi @billyangli!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

As a result, we're closing issues that aren't directly related to the docs published to https://docs.redis.com.

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-07 00:06] #1297 closed

[2021-12-07 00:06] lanceleonard commented on #1618
Hi @ahkui!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

As a result, we're closing issues that aren't directly related to the docs published to https://docs.redis.com.

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-07 00:06] #1618 closed

[2021-12-07 00:07] lanceleonard commented on #1655
Hi @sibuv!

Not sure if you've heard, but RedisInsight has its own repo now: https://github.com/RedisInsight/RedisInsight

As a result, we're closing issues that aren't directly related to the docs published to https://docs.redis.com.

If you still have questions or concerns, please feel free to file a new issue in the new repo.

-- Lance

[2021-12-07 00:07] #1655 closed

[2021-12-07 00:13] lanceleonard commented on #1657
Hi @utsavtulsyan!

We've recently published a new page detailing the [database metrics](https://docs.redis.com/latest/rs/references/rest-api/objects/statistics/db-metrics/).  Take a look.

I'm closing this issue in the mean time.  If you still need help, feel free to [reach out to support](https://redis.com/company/support/) or to post a follow up question on our [Discord server](https://discord.g

[2021-12-07 00:13] #1657 closed

[2021-12-07 00:17] lanceleonard commented on #1690
Hi @russ-lewis!

We've added an item to our internal backlog to handle this work, as there's a bit of coordination and conversation that needs to take place.  In the mean time, I'm closing this issue.

If you're still having trouble, please feel free to follow up in the Discord server or to follow up o the issue that you filed in https://github.com/redis/node-redis/

[2021-12-07 00:17] #1690 closed

[2021-12-07 06:20] mmorel-35 commented on #1228
Hi @lanceleonard,
I didn't know that or I would have published my issue there.
Thank you for your reactivity.
I'll see if I can find my answer on this repository.